@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;900&display=swap');

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*-----Section qui correspond à l'entièreté de la page d'accueil-----*/
.home-page{
    height: 100vh;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
}

/*----------Navbar----------*/
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    padding: 15px;
    font-size: 140%;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: yellow;
}

.brand{
    font-weight: 900;
    font-size: 45px;
    padding-left: 250px;
    color: white;
}

.social{
    padding-right: 250px;
}
/*----------Fin de navbar----------*/


/*-----Container = grande div qui contient .email + .illustration-----*/
.container{
    width: 90%;
    height: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
}

/*.email = toute la div h1 + email + input*/

.description{   
    width: 100%;
    padding-right: 2%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.email{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

h1{
    margin-bottom: 5%;
    font-size: 50px;
    font-weight: 900;
    color: rgb(56, 56, 56);
    text-align: left;
    
}

.email, .p{
    margin-bottom: 5%;
    color: rgb(43, 43, 43);
    text-align: left;
    font-size: 120%;
    padding: 5%;
}

.form{
    width: 100%;
    display: inline-block;
    justify-content: right;
}

input{
    width: 500px;
    height: 60px;
    margin-top: 30px;
    margin-left: 0;
    padding-left: 20px;
    border-radius: 40px;
    opacity: 70%;
    border: none;
    font-size: 90%;
}

.input-button{
    width: 100px;
    
    position: absolute;
    border-radius: 40px;
    border: none;
    cursor: pointer;

}
/*Illustration*/
.illustration{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-illustration{
    width: 80%;
}

/*-----Fin de grande div container-----*/

/*----------Section product features----------*/
.product-features{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-features-description{
    display: flex;
    flex-direction: column;
    width: 950px;
}

h2{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}

.p-product{
    color: rgb(121, 121, 121);
    margin-top: 10px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 25px;
}

h2, p{
    font-weight: 600;
    color:rgb(56, 56, 56);
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card{
    width: 500px;
    height: 500px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    transition: 0.7s;
}

.card:hover{
    transform: translateY(-20px);
    transition: 0.7s;
}

#icon-card{
    font-size: 80px;
    margin: 20px;
}

.title-card{
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 20px;
}

.text-card{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin: 20px;
}

/* Section avec les photos de l'équipe */
.team-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-description{
    width: 45%;
}

.team-title{
    font-size: 50px;
    text-align: center;
}

.team-text{
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(121, 121, 121);
}

.team-pictures{
    display: flex;
    flex-direction: row;
}

.picture-container{
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}

.member-picture{
    width: 300px;
    height: auto;
    filter: grayscale(1);
    transition: 1s;
}

.team-member{
    margin: 40px;
}

.key-number{
    text-align: center;
    font-size: 30px;
}

.number-description{
    text-align: center;
    color: rgb(167, 167, 167);
    font-weight: 400;
    margin-bottom: 60px;
}

.name-member{
    text-align: center;
}

.job{
    text-align: center;
    color:rgb(167, 167, 167);
    margin-bottom: 60px;
}

/*Contient toutes les icônes sur les photos*/
.social-container{
    font-size: 23px;
    transition: 0.5s;
}

/*les iônes réseaux sociaux*/
#fb, #twi, #skype{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: rgb(20, 20, 20);
    background-color: white;
    border-radius: 50%;
    margin-bottom: 5px;
}

/*Comportement du container des réseaux quand on passe sur les photos*/
.picture-container:hover .social-container{
    transform: translateY(85px) translateX(60px);
    transition: 1s;
}

.picture-container:hover .member-picture{
    filter: grayscale(0);
    transition: 1s;
    transform:scale(1.07)
}

/*--------------------- Section 4 parallaxe--------------------------- */
.parallax{
    height: 60vh;
    background-image: url(./img/parallax.png); /*https://www.codeur.com/tuto/css/effet-parallaxe-css/*/
    background-attachment: fixed;   /* Fixe l'image pendant le scroll */
    background-size: cover;         /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center;    /* Centre la position de l'image */
    background-repeat: no-repeat;   /* Empêche l'image de se répéter en fonction de la taille d'écran */
    /* filter: brightness(50%); */
}

/*Inclut h2, p, bouton*/
.parallax-description{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 22, 0.5);
    color: rgba(255, 255, 255, 1);
}

.parallax-title{
    color: rgba(255, 255, 255, 1);
}

.parallax-text{
    color: rgba(255, 255, 255, 1);
}

.parallax-button{
    width: 200px;
    height: 70px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background: none;
    font-size: 20px;
    transition: 0.5s;
}

.parallax-button:hover{
    background-color: white;
    transition: 0.5s;
}

/*--------------------- Section 5 : le blog ---------------------------*/
.blog{
    height: 100vh;
}

/*Contient h2 + p*/
.blog-section-description{
    text-align: center;
    margin: 40px;
}

.blog-main-title{
padding-top: 40px;
}

/*Contient toutes les cards*/
.blog-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Contient icon + nom + icon + date*/
.blog-name-date{
    color:rgb(255, 255, 255);
    position: absolute;
    top : 10px;
    left: 10px;
    transition: 0.5s;
    visibility: hidden;
}

/*Contient div image + div icon nom et icon date*/
.image-author-date{
    display: flex;
    position: relative;
}

/*Contenant de tous les éléments d'une card (img + icon(nom/date) + title + text)*/
.blog-card{
    width: 400px;
    height: 500px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

/*Contenant des images*/
.blog-image{
    border-radius: 10px;
    overflow: hidden;
}

/*Les images en elles-même*/
.blog-image-image{
    width: 400px;
    height: auto;
    transition: 0.5s;
    border-radius: 10px;
}

.blog-image-image:hover{
    /* background-color: rgba(0, 0, 0, 0.548); */
    filter: brightness(50%);
    transition: 0.5s;
}

/*Le comportement de blog-name-date quand blog-image est survolé*/
.blog-image:hover .blog-name-date{
    visibility: visible;
    transition: 0.5s;
}

/*Titre de la card*/
.blog-title{
    font-weight: 600;
}

/*Text de description de la card*/
.blog-text{
    font-weight: 400;
}